<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css"></link>
    
</head>
<body>
    <h1>Quora Posts</h1>
    <% for (post of posts) { %>
    <div>
        <h3> @<%= post.username %></h3>
        <p><%= post.content %></p>
        <a href="http://localhost:8080/posts/<%= post.id %>"><button>See in Detail</button></a> 
    </div>  <!--Need to write full URL, Otherwise won't work -->
    <% } %>
    <a href="/posts/new"><button>Create New Post</button></a>
</body>
</html>