<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding a New Post</title>
</head>
<body>
    <form method="post" action="/posts"> <!--After adding your Post we again Sending it back to, Post page to add it-->
        <input type="text" name="username" placeholder="Username"> <br><br>
        <textarea name="content" placeholder="Write your Post"></textarea><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>